TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_PHONE_NUMBER=yourTwilioPhoneNumber

TYPEORM_CONNECTION=postgres
TYPEORM_USERNAME=root
TYPEORM_PASSWORD=root
TYPEORM_DATABASE=movemate
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=out/src/entity/*.js
TYPEORM_MIGRATIONS_TABLE_NAME=movemate-migrations
TYPEORM_MIGRATIONS=out/src/migration/*.js
TYPEORM_SUBSCRIBERS=src/subscriber/**/*.ts
TYPEORM_ENTITIES_DIR=src/entity
TYPEORM_MIGRATIONS_DIR=src/migration
TYPEORM_SCHEMA=public

STRIPE_API_KEY=your_stripe_api_key_here

REDIS_HOST=localhost
REDIS_PORT=6379

ENCRYPTION_SECRET=mySecretKey
ONBOARDING_JWT_SECRET=ONBOARDING_JWT_SECRET
JWT_ACCESS_SECRET=JWT_ACCESS_SECRET
JWT_REFRESH_SECRET=JWT_REFRESH_SECRET
JWT_SECRET=mySecretKey

AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=your_aws_region
AWS_S3_BUCKET_NAME=your_s3_bucket_name


ENVIRONMENT=local